<div method="post" id="chat-room" class = "hide">
   <div id="chat_header">Chat </div>
   <div id="message_display">  
  </div>
   <textarea cols="50" name="message" class="message_post"> </textarea>
</div>
