<p id="notice"><%= notice %></p>
<br>
<% if 1 == 2 %>
<%= form_tag("/message/236", method: "post", id: "chat-room", remote: true) do %>
   <div id = "chat_header">Chat </div>
   <div id="message_display">  
  </div>
   <textarea id="message_post" name="message" cols="50"> </textarea>
<% end %>
<% end %>
