<p id="notice"><%= notice %></p>
<br>
<div class = "mul_chat">
<%#= react_component('Profile',{ firstname: @profiles.firstname, lastname: @profiles.lastname },
    html_options = { prerender: true }) %>
</div>
