$(".user-thumb-name").append("<div class='msg_tab'> <div id='triangle-up'> </div><table class= 'table table-hover noti-tab'><thead> </thead><tbody><% @unread_notification.each do |m| %><tr><td><%= m[:sender] %> has sent you <%=m[:message]%> </td></tr><% end %></tbody></table></div>")

$(".bubble").addClass("hide")

