/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header{background-color: #ecf0f1;height: 49px;padding: 11px 0 1px 17px}
 .admin-add-member-role{border: 1px solid #c2c2c2;padding: 9px 22px 9px 18px;position: relative;width: 50%;  }
 .suggestion-data{height: 20px;left: 230px;position: relative;width: 50%;}
 ::-webkit-input-placeholder {text-align: center;}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
#update_pic {background-color: #ecf0f1;left: 213px;margin-left: 641px;position: relative;top: -109px;width: 200px;
padding: 19px 13px 23px 9px;}
#change-picture{background-color: black;color: white;cursor: pointer; font-size: 15px; margin-left: 33px;padding: 2px 5px 3px 7px;position: relative;top: -37px;display:none;width: 147px; }
#update-usr{display:none}
.usere{ display:none}
.suggestion-role{background-color: #e7edf1; left: 1020px;padding: 10px 24px 25px 25px;position: fixed;top: 149px;}
.usero input {border:none}
.profile_pic{margin-left: 1050px; position: relative;top: -15px;}
.user-details{position: relative;width: 100%;}
/*.user-thumb{margin-left: -108px;position: relative;top: -16px;}*/
.user-thumb-name{margin-left: -84px;position: relative;text-decoration: none;top: -2px;}
.user-thumb-span { position: relative;top: -10px;}
 .user-med-pic{ margin-left: 867px;position: relative; top:-133px} .user-profile{ position: relative;top: -133px;}
.email-validation { background-color: #B30000;color :white;border-radius: 4px; padding: 7px;position: relative }
.sub-roles {margin-left: 1025px; position: relative;top: 95px;}
.user-med-pic:hover  #change-picture { display:block; }
#dis-img {border:solid 1px #7c7c7c}
